@font-face {
  font-family: 'PS-Regular';
  src: url('fonts/PS-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'PS-Bold';
  src: url('fonts/PS-Bold.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PS-Black';
  src: url('fonts/PS-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

h1{
  font-family: 'PS-Bold';
}

h2{
  margin-bottom: 0;
  font-family: 'PS-Black';
  font-size: 1.8em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PS-Regular';
}

.parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30vh;
      font-family: 'PS-Regular';
      line-height: 35px
    }

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'PS-Regular';
}

input[type="number"] {
      width: 80px;
      font-family: 'PS-Regular';
    }

small {
  font-size: 18px;
}

main{
  font-family: 'PS-Regular';
}

label{
  font-family: 'PS-Regular';
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #EBEBEB;
}

a:visited {
  color: #D1D1D1;
}

label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18.5px;
    user-select: none;
}

input[type="checkbox"] {
   display: none;
}

input[type="checkbox"] + label {
   position: relative;
   padding-left: 35px;
   cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"] + label::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 10.5px;
   height: 10.5px;
   border: 1px solid #434343;
   background-color: #404040;
   box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
   padding: 5px;
   border-radius: 5px;
}

input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   top: 4px;
   left: 7.75px;
   right: 3px;
   bottom: 3px;
   width: 4px;
   height: 9px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}


input[type="checkbox"]:checked + label::before {
   background-color: #999999;
}

body{
  background-color: #333333;
  font-family: 'PS-Regular';
  background-image: url('img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .aContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-device-width: 1366px) {
  body {
    background-attachment: scroll;
  }
}

body::after {
  content: "";
  background-image: url('img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container{
  margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.2em;
  font-family: sv;
	color: #FFFFFF;
	background-color: #333333;
	border-radius: 8px;
	padding: 13px;
	width: 80vw;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.75));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
	display: flex;
  flex-direction: column;
  line-height: 20px;
}

#title{
  font-family: 'PS-Black';
  font-size: 3em;
  text-align: center;
  user-select: none;
}

button {
  border: 1px solid #434343;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #404040;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-family: 'PS-Regular';
}

button:hover {
  background-color: #444444;
  font-family: 'PS-Regular';
}

button:active {
  background-color: #878787;
  font-family: 'PS-Regular';
}

input[type="number"] {
  border-radius: 5px;
  background-color: #404040;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-family: 'PS-Regular';
}

p{
  font-family: 'PS-Regular';
  font-size: 0.88em;
}

#containerFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  margin: auto;
  font-family: 'PS-Regular';
}

#footer{
  font-family: sv;
  color: #EBEBEB;
  text-align: center;
  margin: auto;
  font-family: 'PS-Regular';
}

a {
  color: #FFFFFF;
  font-family: 'PS-Regular';
}

a:hover {
  color: #EBEBEB;
}

a:visited {
  color: #D1D1D1;
}
